* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Alfa';
  src: url('fonts/AlfaSlabOne-Regular.ttf');
}

body {
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #494848;
  margin:0;

}

.logo {
  max-width: 100%;
  margin: -25px 0 40px 60px;
}

.header-img {
  z-index: -10;
  width:100%;
  max-width: 100%;
}

.bannerInfo {
  position: absolute;
  bottom: 0px;
  margin: 0;
  background: #33333399;
  width: 100%;
  height: 55px;
  text-align: left;
  color: #51e3c2;


  .videoTitle {
    margin: 5%;
    font-family: 'Alfa';
    width:220px;
  }

  img {
    float: right;
    position: absolute;
    right: 5px;
    bottom: 10px;
    width: 30px;
  }
}

.itemContent {
  text-decoration: none;
  margin: 10px 0;

  .publishDate {
    color:#ffffff;
    margin-bottom: 5px;
    font-size:14px;
  }

  .description {
    color: #868686;
  }
}

.yt-thumb {
  position:relative;
  transition: .5s ease;


  &:hover {
    opacity: 0.5;
  }

  .thumb {
    width: 100%;
  }
}

.four {
  text-decoration: none;
  margin-top: 30px;
}

.singleVideo {

  .yt-video {
    overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  iframe {
    border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
  }
}

  .videoTitle {
    font-family: 'Alfa';
    color: #51e3c2;
  }

  .publishDate {
    color:#ffffff;
  }

  .description {
    color: #868686;
  }

  .back {
    text-decoration: none;
    color: #51e3c2;
    font-size:16px;

    img {
      margin-right: 20px;
    }
  }

}

@media only screen and (max-width: 550px) {
  .logo {
    margin-top:-15px;
  }
}
